.about.mainSection {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.about .ingredientsAndRecipesSection {
  display: flex;
  flex-direction: column;
}
.about .flexRow {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 24px auto 0;
  width: 90.25%;
  max-width: 1444px;
  padding: 0 15px 0 0;
}
@media (max-width: 1199px) {
  .about .flexRow {
    display: none;
  }
}
.about .flexRow1 {
  display: flex;
  align-items: center;
  gap: 0 12px;
  width: 249px;
  min-width: 0;
}
.about .imageCup {
  width: 117px;
  min-width: 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.about .titleCup {
  width: 120px;
  font: 900 32px/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}
.about .titleBox_box {
  margin: 34px 0 44px;
}
.about .titleBox {
  font: 700 32px/1.21 Montserrat, Helvetica, Arial, serif;
  color: black;
}
.about .titleBox_span0 {
  font: 700 1em/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}
.about .titleBox_span1 {
  font: 700 1em/1.21 Montserrat, Helvetica, Arial, serif;
}
.about .titleBox_span2 {
  font: 700 1em/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}
.about .loginButton {
  display: flex;
  justify-content: center;
  margin: 22px 0 35px;
  min-width: 220px;
  font: 700 32px/1.21 Montserrat, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #573821;
  border-radius: 23px;
  padding: 10.5px 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.about .productDetailsSection {
  position: relative;
  display: flex;
  flex-direction: column;
}
.about .flexRow2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 78px auto 0;
  width: 1284px;
  max-width: 85%;
}

.about .productImage {
  width: 625px;
  min-width: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.about .flexColumn {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  margin: 88px 0 229px;
  width: 562px;
  min-width: 0;
}


.about .productTitle {
  display: flex;
  flex-direction: column;
  gap: 41px 0;
}
.about .title {
  font: 700 32px/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.about .productSubtitle {
  width: 468.984375px;
  max-width: 85%;
  font: 400 20px/1.2 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.about .flexRow3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  width: 368px;
  max-width: 85%;
}

.about .priceTitle {
  font: 700 24px/1.2 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.about .contentBox {
  position: absolute;
  top: 26px;
  left: 78px;
  display: flex;
  flex-direction: column;
  width: 62px;
  background-color: #573821;
  border-radius: 31px;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);
}
.about .productImage1 {
  margin: 16px 13px 16px 12px;
  width: 37px;
  -o-object-fit: cover;
  object-fit: cover;
}

.about .productDescriptionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .descriptionTitle {
  margin: 57px auto 0;
  width: 1348px;
  max-width: 85%;
  font: 700 32px/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.about .descriptionBlock {
  display: block;
  margin: 42px auto 0;
  width: 100%;
  max-width: 1600px;
  min-height: 3px;
  background-color: #573821;
}
.about .mediumTitleDescription {
  margin: 47px auto 419px;
  width: 1260px;
  max-width: 85%;
  font: 500 24px/1.2 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.about .imageDisplaySection {
  display: flex;
  flex-direction: column;
  background-color: #573821;
}
.about .flexRow4 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 47px auto;
  width: 87.94%;
  max-width: 1407.03125px;
}

.about .subtitle1 {
  margin: 15px 0 10px;
  font: 700 20px/1.2 Montserrat, Helvetica, Arial, serif;
  color: white;
}

.about .flexRow5 {
  display: flex;
  gap: 0 19px;
  width: 182px;
  min-width: 0;
}
