{% load static %}
<section class="toporinBohdanSec">
    <!-- Section featuring Топорин Богдан. -->
    <div class="flexRowToporinBohdan">
        <!-- Row layout for Топорин Богдан content. -->
        <h3 class="toporinBohdanTitle">
            <!-- Subtitle for Топорин Богдан. -->
            Топорин Богдан 2024
        </h3>
        <div class="flexRowImages">
            <!-- Row layout for images related to Топорин Богдан. -->
            <img class="toporinImage" src="{% static 'assets/tg icon.svg' %}" alt="Telegram Icon" />
            <img class="toporinImage" src="{% static 'assets/vk icon.svg' %}" alt="VK Icon" />
            <img class="toporinImage" src="{% static 'assets/git icon.svg' %}" alt="Git Icon" />
        </div>
    </div>
</section>
