{% load static %}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/UntitledPage.css' %}" />

</head>

<body class="flex-column">

    <main class=" mainSec">
        <!-- Main section that encompasses the entire content. -->
       {% include 'header.html' %}
        <section class="iconSection">
            <a 
                href="{% if current_recipe_id %}{% url 'recipe' recipe_id=current_recipe_id %}{% else %}#{% endif %}" 
                class="contentShopImage {% if not current_recipe_id %}disabled{% endif %}" 
                style="text-decoration: none; pointer-events: {% if not current_recipe_id %}none{% endif %}; opacity: {% if not current_recipe_id %}0.8{% endif %};">
                <img class="search-icon" src="{% static 'assets/shopping-bag_icon.svg' %}" alt="Shopping Bag Icon" />
                {% if count > 0 %}
                    <div class="itemCount">{{ count }}</div>
                {% endif %}
            </a>
        </section>
        <section class="heroSec">
            <!-- Hero section showcasing main promotional content. -->
            <div class="flexRowHero">
                <!-- Row layout for hero content. -->
                <div class="flexColHero">
                    <!-- Column layout for hero text and image. -->
                    <h1 class="heroTitle">
                        <!-- Main title in the hero section. -->
                        Каждый день мы обжариваем кофе
                    </h1>
                    <h2 class="heroSubtitle">
                        <!-- Subtitle in the hero section. -->
                        И бесплатно доставляем по всей России
                    </h2>
                </div>
                <img class="heroImage" src="{% static 'assets/promo_image.png' %}" alt="Promo Image" />
            </div>
        </section>

        <section class="productDisplaySec">
            <!-- Section for showcasing available products. -->
            {% comment %}<button class="showMoreBtn">
                <!-- Button to show more products. -->
                Показать больше
            </button>{% endcomment %}
            <div class="flexRowProducts">

                                <form method="get" action="{% url 'ingridients' %}" class="search-form">
                    <div class="contentBoxSearch">
                        <label>
                            <input
                                class="searchHighlight"
                                name="search_ingredient"
                                placeholder="Поиск по каталогу..."
                                value="{{ request.GET.search_ingredient }}"
                                style="border: none; outline: none;"
                            >
                        </label>
                    </div>
                    <div class="contentBoxImage">
                        <button type="submit" class="search-button" style="background: none; border: none; cursor: pointer;">
                            <img class="search-icon" src="{% static 'assets/search_icon.svg' %}" alt="Search Icon" />
                        </button>
                    </div>
                </form>

            </div>

            <div class="productGrid">
                <!-- Grid layout for displaying multiple products. -->
                {% for ingredient in ingredients %}
                    <div class="productItem">
                        <!-- Grid item for displaying a product. -->
                        <a href="{% url 'ingridient_about' ingredient.id %}" class="productLink" style="text-decoration: none">
                        <div class="flexColProduct">
                            <!-- Column layout for product details. -->
                            <img class="productImage" src="{{ ingredient.image_url }}" alt="{{ ingredient.ingredient_name }}" />
                            <p class="productHighlight">
                                <!-- Highlight text for product name. -->
                                {{ ingredient.ingredient_name }}
                            </p>

                            <div class="flexRowPricing">
                                <!-- Row layout for pricing and buy button. -->
                                <p class="productPrice">
                                    <!-- Price display for the product. -->
                                    {{ ingredient.price }} ₽/ {{ ingredient.unit }}
                                </p>
                               <form method="post" action="{% url 'add_ingredient_to_current_recipe' %}">
                                {% csrf_token %}
                                <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
                                <input type="hidden" name="recipe_id" value="{{ current_recipe_id }}">
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button type="submit" class="buyBtn">
                                    <p class="buyText">Добавить</p>
                                </button>
                            </form>
                            </div>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>

        {% include 'footer.html' %}

    </main>

</body>

</html>
