.mainSec {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}

.ingredientsAndRecipesSec {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 45px auto 0;
  width: 91.5%;
  max-width: 1464px;
  padding: 0 35px 0 0;
}

.flexRowTitle {
  display: flex;
  align-items: center;
  gap: 0 12px;
  width: 249px;
  min-width: 0;
}

.recipeImage {
  width: 117px;
  min-width: 0;
  object-fit: cover;
}

.recipeTitle {
  width: 120px;
  font: 900 32px/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.ingredientsRecipesTitle_box {
  margin: 34px 0 44px;
}

.ingredientsRecipesTitle {
  font: 700 32px/1.21 Montserrat, Helvetica, Arial, serif;
  color: black;
}

.ingredientsRecipesTitle_span0 {
  font: 700 1em/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.ingredientsRecipesTitle_span1 {
  font: 700 1em/1.21 Montserrat, Helvetica, Arial, serif;
}

.ingredientsRecipesTitle_span2 {
  font: 700 1em/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.loginBtn {
  display: flex;
  justify-content: center;
  margin: 22px 0 35px;
  min-width: 220px;
  font: 700 32px/1.21 Montserrat, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #573821;
  border-radius: 23px;
  padding: 10.5px 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.heroSec {
  display: flex;
  flex-direction: column;
}

.flexRowHero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 0 auto;
  width: 80.63%;
}

.heroTitle {
  width: 760px;
  height: 156px;
  font: 900 64px/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.heroSubtitle {
  width: 760px;
  height: 29px;
  font: 700 24px/1.2 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.heroImage {
  width: 473px;
  height: 456px;
  object-fit: cover;
}

.productDisplaySec {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 1239px;
  min-height: 1239px;
}

.showMoreBtn {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1131px auto 62px;
  width: 287px;
  font: 700 16px/1.25 Montserrat, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #573821;
  border-radius: 23px;
  padding: 13px 8px;
}

.flexRowProducts {
  position: absolute;
  top: 19px;
  left: 600px;
  display: flex;
  align-items: center;
  gap: 0 15px;
  width: 705px;
  height: 62px;
}
.itemCount {
    position: absolute;
    top: -10px;  /* Позиция круга по вертикали */
    right: 5px; /* Позиция круга по горизонтали */
    background-color: #a98467; /* Цвет фона круга */
    color: white;
    border-radius: 50%; /* Делает блок кругом */
    width: 24px; /* Ширина круга */
    height: 24px; /* Высота круга */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Размер текста */
    font-weight: bold; /* Жирность текста */
}
.contentBoxSearch {
  display: flex;
  width: 628px;
  min-width: 0;
  background-color: white;
  border-radius: 23px;
  outline: 1px solid #573821;
  outline-offset: -0.5px;
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.25);
}

.searchHighlight {
  margin: 16px 0 14px 33px;
  width: 172px;
  max-width: 85%;
  font: 400 16px/1.25 Montserrat, Helvetica, Arial, serif;
  color:  #573821;
}
.search-form{
  display: flex;
  column-gap: 20px;
}

.contentBoxImage {

  flex-direction: column;
  width: 62px;
  min-width: 0;
  background-color: #573821;
  border-radius: 31px;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.iconSection {
  position: relative;
  top: 0px; /* Расположите иконку в нужном месте */
  left: 1300px; /* или left, если нужно другое положение */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px; /* Ширина секции */
  height: 62px; /* Высота секции, если требуется */
  background-color: #573821; /* Фон для секции */
  border-radius: 31px; /* Скругление углов */
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25); /* Тень для секции */
  z-index: 1000; /* Убедитесь, что секция находится поверх других элементов */
}
.contentShopImage {
  left: 600px;
  display: flex;
  flex-direction: column;
  width: 62px;
  min-width: 0;
  background-color: #573821;
  border-radius: 31px;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.25);
}

.search-icon {
  margin: 16px 16px 15px 15px;
  width: 31px;
  object-fit: cover;
}



.productGrid {
  position: absolute;
  top: 120px;
  left: 50%;
  display: grid;
  align-content: start;
  gap: 24px 25px;
  width: 1250px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  transform: translate(-50%, 0);
}

.productItem
 {
  display: flex;
  flex-direction: column;
  grid-row: span 1;
  grid-column: span 1;
  background-color: white;
  border-radius: 30px;
  outline: 1px solid #573821;
  outline-offset: -1px;
  box-shadow: -1px 10px 10px 0 rgba(0, 0, 0, 0.3);
}

.flexColProduct
 {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  margin: 17px 25px 31px 16px;
}

.productImage{
  width: 320px;
  height: 60%;
  object-fit: cover;
}

.productHighlight{
  margin: 30px 0 0;
  width: 100%;
  font: 700 16px/1.25 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.productDescription{
  margin: 8px 0 0;
  width: 100%;
  font: 400 13px/1.23 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.flexRowPricing{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 90px;
  margin: 25px 0 0;

}

.productPrice,
.syrupPrice {
  margin: 14px 0 12px;
  font: 700 16px/1.25 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.buyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 17px;
  min-width: 174px;
  background-color: #573821;
  border-radius: 23px;
  padding: 13px 28px;
}



.buyText {
  margin: 2px 0;
  min-width: 0;
  font: 700 16px/1.25 Montserrat, Helvetica, Arial, serif;
  color: white;
}

/* Описание и выделение текста для продуктов */
.productChocolateDescription, .productBeverageBaseDescription {
  margin: 30px 0 0;
  width: 100%;
  font: 700 14px/1.21 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}

.chocolateHighlight, .beverageBaseHighlight {
  margin: 11px 0 0;
  width: 100%;
  font: 400 13px/1.23 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}



.
/* Стили для цен и кнопок */
.chocolatePrice, .beverageBasePrice {
  font: 700 16px/1.25 Montserrat, Helvetica, Arial, serif;
  color: #573821;
}


/* Стили для toporinBohdanSec и flexRowToporinBohdan */
.toporinBohdanSec {
  display: flex;
  flex-direction: column;
  background-color: #573821;
}

.flexRowToporinBohdan {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 47px auto;
  width: 87.94%;
  max-width: 1407px;
}

.toporinBohdanTitle {
  margin: 15px 0 10px;
  font: 700 20px/1.2 Montserrat, Helvetica, Arial, serif;
  color: white;
}

/* Стили для flexRowImages */
.flexRowImages {
  display: flex;
  gap: 0 19px;
  width: 182px;
  min-width: 0;
}

.toporinImage{
  margin: 0 0 1px;
  width: 48px;
  object-fit: cover;
}
